$font-xl: 24px;
$font-l: 20px;
$font-m: 16px;
$font-s: 14px;

$color-white: #ffffff;
$color-black: #333333;
$color-gray: #666666;
$color-primary: #173dc9;
$color-primary-hover: #0c30ae;
$color-divide: #ebeef5;