$font-xl: 24px;
$font-l: 20px;
$font-m: 16px;
$font-s: 14px;

$color-white: #ffffff;
$color-black: #333333;
$color-gray: #666666;
$color-primary: #173dc9;
$color-primary-hover: #0c30ae;
$color-divide: #ebeef5;

$shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);

$top: 99;
$middle: 9;
$normal: 0;