.root {

  .listItem {
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .action {
    padding: 24px;
    display: flex;
    margin-top: 24px;
    justify-content: flex-end;

    & > button {
      margin-left: 20px;
    }
  }
}