.console {
  .header {
    display: flex;
    justify-content: space-between;

    & > p {
      display: flex;
    }
  }

  .item {
    margin: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  .itemContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .itemTitle {
    font-size: 14px;
    line-height: 16px;
    color: #999999;
  }

  .itemBalance {
    margin-top: 6px;
    font-size: 16px;
    line-height: 19px;

  }

  .itemAction {
    width: 94px;
    height: 32px;
    border-radius: 0;
    background: #173dc9;
    font-size: 16px;
    line-height: 19px;
  }
}