.dialog {
  .action {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;

    & > button {
      margin-left: 20px;
    }
  }

  .list {
    margin-top: 32px;
  }

  .listItem {
    padding-left: 8px;
    padding-right: 8px;
  }
}