.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 128px 0;

  .title {
    font-size: 20px;
    line-height: 24px;
    color: #173dc9;
  }

  .bg {
    margin: 40px 0 30px 0;
  }
}