.root {
  padding: 16px 24px;
  background: #eff1f7;
  border-radius: 12px;
  border: 1px solid #ecf0f2;

  & .title {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    color: #333333;
  }
}