.root {
  padding: 16px 24px;
  background: #eff1f7;
  border-radius: 12px;

  & .title {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #333333;
  }
}