@import "styles/index.scss";

.root {
  box-sizing: border-box;
  width: 100%;
  background: #ffffff;
  border: 1px solid $card-border-color;
  box-shadow: 0 1px 20px 0 rgba(23,65,212,0.02);
  border-radius: 12px;
}

.title {
  padding: 22px 24px;
  color: $color-black;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  border-bottom: 1px solid #ecf0f2;
}

.content.gutter {
  padding: 0 24px;
}

.content.noTitleContent {
  padding: 24px;
}