@import "./styles/index.scss";

.root.normal {
  position: relative;
  height: 64px;
  background: #ffffff;

  &.small {
    height: 32px;

    .activeRoot:after {
      height: 22px;
    }
  }

  .activeRoot {
    & > .activeAction {
      flex: 0;
    }

    &:after {
      display: none;
    }
  }

  .menu {
    width: auto;
  }
}

.root.border {
  position: relative;
  width: 220px;
  height: 64px;
  border-radius: 13px;
  border: 1px solid $color-primary;
  background: #ffffff;

  &.small {
    height: 32px;
    width: 110px;

    .activeRoot:after {
      height: 22px;
    }
  }
}

.activeRoot {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;

  & > .activeContent {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0 12px;
    font-size: 16px;
    line-height: 19px;
    color: $color-primary;

    & > svg {
      margin-right: 8px;
    }
  }

  & > .activeAction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 43.5px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 43.5px;
    height: 44px;
    width: 1px;
    background: $color-divide;
    transform: translate3d(0, -50%, 0);
  }
}

.menu {
  z-index: 99;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  list-style: none;
  margin: 0;
  background: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  .menuItem {
    display: flex;
    align-items: center;
    padding: 0 22px;
    height: 64px;
    color: $color-primary;

    & > svg {
      margin-right: 8px;
    }

    &:hover {
      background: #f2f5f7;
    }
  }
}

.open {
  .menu {
    display: block;
  }
}
