.page {
  width: 100%;
  max-height: 100vh;
  overflow-y: hidden;
  padding: 16px;
}

.pageTitle {
  display: flex;
  align-items: center;
  height: 56px;
  font-size: 24px;
}

.pageContent {
  max-width: 960px;
  margin-top: 16px;
}