@import "./styles//variables.scss";

.root {
  width: 100%;
  border-collapse:collapse;
}

.headerCell {
  padding: 12px 0;
  border-bottom: 1px solid #ecf0f2;
  font-size: $font-m;
}

.cell {
  padding: 12px 0;
  border-bottom: 1px solid #ecf0f2;
  font-size: $font-m;
  color: $color-gray;
  cursor: default;

  & > div {
    display: flex;
    align-items: center;
  }
}

.headerCell.left, .cell.left {
  text-align: left;

  & > div {
    justify-content: flex-start;
  }
}

.headerCell.right, .cell.right {
  text-align: right;

  & > div {
    justify-content: flex-end;
  }
}

.headerCell.center, .cell.center {
  text-align: center;

  & > div {
    justify-content: center;
  }
}

.row {
  transition: all 200ms linear;
}

.row:last-child {
  & > .cell {
    border-bottom: none;
  }
}

.headerCell:first-child, .cell:first-child {
  padding-left: 24px;
}

.headerCell:last-child, .cell:last-child {
  padding-right: 24px;
}

.row:hover {
  background: $table-active-color;
}