@import './styles/index.scss';

.root.normal {
  .tabTitleContent {
    display: flex;
    border-bottom: 2px solid #d8d8d8;
  }

  .tabTitle {
    position: relative;
    margin-right: 32px;
    height: 56px;
    line-height: 56px;
    font-size: 20px;
    cursor: pointer;

  }

  .tabTitle.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -2px;
    background: #0055ff;
  }

  .tabContent {
    margin-top: 8px;
  }
}

.root.button {
  .tabTitleContent {
    display: flex;
    margin-bottom: 24px;
  }

  .tabTitle{ 
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 160px;
    height: 40px;
    border: 1px solid #ecf0f2;
    color: $color-gray;
    cursor: pointer;
    background: $color-white;
  }

  .tabTitle:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .tabTitle:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .tabTitle.active {
    border-color: $color-primary;
    color: $color-primary;
  }
}

.root.bar {
  .tabTitleContent {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background: #ecf0f2;
  }
  .tabTitle {
    flex: 1;
    background: #ecf0f2;
  }

  .tabTitle.active {
    z-index: 1;
    height: 36px;
    box-shadow: 0 0 4px rgba(132, 132, 132, 0.55);
    background: $color-white;
    border-radius: 8px;
    border: none;
  }
}