@import './styles/index.scss';

.root {
  box-sizing: border-box;
  display: inline-block;
  min-width: 30px;
  height: 32px;
  line-height: 28px;
  margin: 0 8px;
  padding: 0 8px;
  border-radius: 13px;
  background: #f0f0f0;
  font-weight: 500;

  &.white {
    border: 1px solid #e1e1e1;
    background: #ffffff;
  }

  &.primary {
    border: 1px solid $color-primary;
    background: $color-primary;
    color: $color-white;
  }

  &.clickable {
    cursor: pointer;
  }
}

.tagGroup {
  display: flex;

  > div {
    margin: 0 8px 0 0;
  }
  > span {
    margin: 0 8px 0 0;
  }

  .root:last-child {
    margin: 0;
  }
}