.root {
  .notice {
    font-size: 16px;
    line-height: 19px;
    color: #999999;
  }

  .eraInfo {
    font-size: 12px;
    line-height: 18px;
    color: #666666;
  }

  .txBtn {
    width: 250px;
    height: 40px;
    font-size: 16px;
    line-height: 19px;
  }

  .select {
    .item {
      margin-top: 16px;
    }
  }

  .targetInput {
    display: flex;
    align-items: center;

    .select {
      margin: 0 8px;
    }
  }

  .menu {
    width: 200px;
  }

  .listItem {
    padding-left: 0;
    padding-right: 0;

    & :global(.aca-list--label) {
      color: #999999;
    }
  }

  .targetRadio {
    display: flex;
    align-items: center;
  }
}