.root {

  .notice {
    font-size: 16px;
    line-height: 19px;
    color: #999999;
  }

  .txBtn {
    width: 250px;
    height: 40px;
    font-size: 16px;
    line-height: 19px;
  }

  .listItem {
    padding-left: 0;
    padding-right: 0;

    & :global(.aca-list--label) {
      color: #999999;
    }
  }
}