.root {
  display: flex;
  align-items: stretch;
  height: 58px;
  padding-left: 16px;
  border: 1px solid #ecf0f2;
  border-radius: 2px;

  &.error {
    border-color: #ff5500;
  }
}

.input {
  flex: 1;
  font-size: 24px;
  color: #333333;

  // clear default apperance
  appearance: none;
  box-shadow: none;
  outline: none;
  border: none;
}

.tokenSelector {
  flex-grow: 0;
  flex-shrink: 0;
  border: none;
  border-left: 1px solid #ecf0f2;
  border-radius: 0;
}

.token {
  flex-grow: 0;
  flex-shrink: 0;
  border: none;
  border-left: 1px solid #ecf0f2;
  border-radius: 0;
  padding: 0 16px;
}