$token-selector-height: 58px;
$token-selector-action-width: 55px;
$token-select-info-width: 140px;

.root {
  position: relative;
  height: $token-selector-height;
  min-width: calc($token-select-info-width + $token-selector-action-width);
  border: 1px solid #dddddd;
  border-radius: 2px;
  font-size: 24px;
  color: #333333;
}

.selected {
  display: flex;
  width: 100%;
  height: 100%;
}

.selectedToken {
  display: flex;
  flex: 1;
  min-width: $token-select-info-width;
  align-items: center;
  padding: 0 8px;
  color: #000000;
}

.selectedAction {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $token-selector-action-width;
  height: $token-selector-height;
  cursor: pointer;

  &:hover {
    background: #dddddd;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: calc($token-selector-height / 2 - 42px / 2);
    height: 42px;
    width: 1px;
    background: #ecf0f2;
  }
}

.listContainer {
  z-index: 99;
  display: none;
  position: absolute;
  top: $token-selector-height;
  left: 0;
  right: 0;
  list-style: none;
  margin: 0;
  padding: 16px 0;
  background: #ffffff;
  cursor: pointer;
}

.listItem {
  display: flex;
  align-items: center;
  height: $token-selector-height;
  padding: 0 8px;
  translate: background 200ms;

  &:hover {
    background: purple;
    color: #ffffff;
  }
}

.open {
  .listContainer {
    display: block;
  }
}