.root {
  display: flex;
  align-items: center;

  &.padding {
    margin: 0 4px;
  }
}

.icon {
  margin-right: 12px;
  flex: 0 0 42px;
  height: 42px;
  border-radius: 50%;
  background: #ffffff;
  overflow: hidden;

  &.noName {
    margin-right: 0;
  }

  :global(svg) {
    width: 100%;
    height: 100%;
  }
}