.root {
  padding: 12px 24px;
}

.header {
  border: none;
  padding: 0;
  margin-bottom: 12px;
}

.content {
  display: flex;
  align-items: center;
  padding: 0;
}

.list {
  display: flex;
  list-style: none;
  margin-bottom: 4px;
}

.listItem {
  position: relative;
  padding: 0 24.5px;

  &:first-child {
    text-align: right;
  }

  &:last-child {
    text-align: left;
  }

  &:first-child::before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    height: 29px;
    width: 1px;
    transform: translate3d(0, -50%, 0);
    background: #ecf0f2;
  }
}

.listTitle {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

.listContent {
  font-size: 16px;
  line-height: 19px;
}