.main {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  .addIcon {
    margin: 16px 23px;
  }
}

.inputAreaTitle {
  padding: 0 4px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;

  & > .inputAreaBalance {
    font-weight: 400;
  }
}