.main {
  display: flex;
  align-items: flex-end;

  .addIcon {
    flex: 0 0 25px;
    margin: 16px 23px;
  }

  .txBtn {
    margin-left: 24px;
  }
}

.inputAreaRoot {
  flex: 1 1 20%;
}

.inputAreaTitle {
  padding: 0 4px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 19px;

  & > .inputAreaBalance {
    font-weight: 400;
  }
}

.addon {
  margin-top: 16px;
  width: 500px;
  list-style: none;
  font-size: 16px;
  line-height: 19px;
  color: #999999;
}

.addonItem {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}