.main {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  .txBtn {
    margin-left: 24px;
  }

  & > .inputAreaRoot {
    flex: 1;
  }

  .inputAreaTitle {
    padding: 0 4px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
  }

  .inputAreaContent {
    display: flex;
    align-items: center;
  }

  .output {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 14px;
    height: 58px;
    border: 1px solid #ecf0f2;
    font-size: 24px;
    line-height: 29px;
  }

  .dropdown {
    height: 60px;
  }

  .arrowIcon {
    margin: 0 23px;
  }
}