.main {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  .arrowIcon {
    margin: 23px;
  }

  .txBtn {
    margin-left: 24px;
  }
}

.inputAreaRoot {
  flex: 1;
}

.inputAreaTitle {
  padding: 0 4px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 19px;

  & > .inputAreaBalance {
    font-weight: 400;
  }
}

.addon {
  margin-top: 16px;
  width: 400px;
  list-style: none;
  font-size: 16px;
  line-height: 19px;
  color: #999999;
}

.addonItem {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.output {
  flex: 1;

  .outputTitle {
    padding: 0 4px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 19px;
  }
  .outputContent{
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 14px;
    height: 58px;
    border: 1px solid #cccccc;
    font-size: 24px;
    line-height: 29px;
  }
}